header.hero
    .hero__banner
        h3 My Site
    .hero__navigation
        ul.navbar-nav.mr-auto.justify-content-end.hero__navigation-menu
            li.nav-item
                a.nav-link(href="index.html")
                    i.fa.fa-dashboard Inicio
            li.nav-item(href="#contacto")
                a.nav-link
                    i.fa.fa-user Contacto
        