.tn__checkbox {
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 5px;
    user-select: none;
    input[type='checkbox'] {
        opacity: 0;
        position: absolute;
        &:checked {
            ~ .tn__checkbox-checkmark {
                background: lighten($primary-color, 10%);
                &::after {
                    display: flex;
                }
            }
            &:hover {
                ~ .tn__checkbox-checkmark {
                    background: $primary-color;
                }
            }
        }
        &:hover {
            ~ .tn__checkbox-checkmark {
                background: lighten(#222222, 50%);
            }
        }
    }
    &-label {
        margin-left: $base-padding;
    }
    &-checkmark {
        justify-content: flex-end;
        height: $size-checkbox;
        width: $size-checkbox;
        background: lighten(#222222, 60%);
        &::after {
            content: "\0393";
            color: #ffffffff;
            display: none;
            justify-content: center;
            transform: rotate(230deg);
        }
    }
}