.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 100%;
    background: $secondary-color;
    color: $text-secondary-color;
    &__banner {
        height: calc(100% - #{$h-navigation});
    }
    &__navigation {
        width: 100%;
        height: $h-navigation;
        align-items: flex-end;
        flex-direction: column-reverse;
    }
}