*{
  margin:0;
  padding:0;
}

body{
  background:#f3f3f3;
}

ol,ul{
  list-style:none;
}

h1,h2,h3,h4,h5,h6{
  margin-top:15px;
  margin-bottom:15px;
}

.hero{
  display:-ms-flexbox;
  display:flex;
  -ms-flex-align:center;
      align-items:center;
  -ms-flex-direction:column;
      flex-direction:column;
  height:300px;
  width:100%;
  background:#222;
  color:#fff;
}

.hero__banner{
  height:calc(100% - 50px);
}

.hero__navigation{
  width:100%;
  height:50px;
  -ms-flex-align:end;
      align-items:flex-end;
  -ms-flex-direction:column-reverse;
      flex-direction:column-reverse;
}

.tn__checkbox{
  display:-ms-flexbox;
  display:flex;
  -ms-flex-direction:row;
      flex-direction:row;
  margin:0;
  padding:5px;
  -webkit-user-select:none;
     -moz-user-select:none;
      -ms-user-select:none;
          user-select:none;
}

.tn__checkbox input[type=checkbox]{
  opacity:0;
  position:absolute;
}

.tn__checkbox input[type=checkbox]:checked~.tn__checkbox-checkmark{
  background:#3dd261;
}

.tn__checkbox input[type=checkbox]:checked~.tn__checkbox-checkmark:after{
  display:-ms-flexbox;
  display:flex;
}

.tn__checkbox input[type=checkbox]:checked:hover~.tn__checkbox-checkmark{
  background:#29b34b;
}

.tn__checkbox input[type=checkbox]:hover~.tn__checkbox-checkmark{
  background:#a2a2a2;
}

.tn__checkbox-label{
  margin-left:15px;
}

.tn__checkbox-checkmark{
  -ms-flex-pack:end;
      justify-content:flex-end;
  height:20px;
  width:20px;
  background:#bbb;
}

.tn__checkbox-checkmark:after{
  content:"\0393";
  color:#ffffffff;
  display:none;
  -ms-flex-pack:center;
  justify-content:center;
  transform:rotate(230deg);
}

/*# sourceMappingURL=app.css.map */
