<template>
    <div class="row">
        <div class="col-xs-12">
            <div class="input-group" style="margin-bottom: 10px">
                <span class="input-group-addon">Tipo horario</span>
                <select @change="changeValue($event)" name="type_schedule" id="" class="form-control">
                    <option value="">-- Seleccione --</option>
                    <option v-for="option in options" :value="option.value">{{option.text}}</option>
                </select>
            </div>
        </div>
        <div class="col-xs-12">
            <table v-if="options[0].value === selectedOption" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <td colspan="2"><i class="glyphicon glyphicon-check"></i> {{ options[0].message }}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(day,key) in days">
                        <td style="width: 30%">
                            <label class="tn__checkbox">
                                <input v-model="day.checked" type="checkbox">
                                <span class="tn__checkbox-checkmark"></span>
                                <span class="tn__checkbox-label">{{ day.text }}</span>
                            </label>
                        </td>
                        <td>
                            <button type="button" v-if="dataTimes[key].length<2 && day.checked===true" @click="addTime(key, day, $event)" days-toggle="tooltip" title="Agregar" class="btn btn-link btn-sm"><i class="glyphicon glyphicon-plus"></i> Agregar horario</button>
                            <ul class="list-group" v-if="dataTimes[key].length>0">
                                <li class="list-group-item" v-for="(time, i) in dataTimes[key]">
                                    <span>{{ time.start }} - {{ time.end }}</span>
                                    <div class="btn-group pull-right" style="margin-top: -5px">
                                        <button type="button" @click="editTime(i, time, $event)" class="btn btn-info btn-sm"><i class="glyphicon glyphicon-edit"></i></button>
                                        <button type="button" @click="destroyTime(i, time, $event)" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-trash"></i></button>
                                    </div>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div v-if="options[1].value === selectedOption" class="alert alert-success">
                <strong><i class="glyphicon glyphicon-ok"></i> {{ options[1].text }}</strong>
                <p>{{ options[1].message }}</p>
            </div>
            <div v-if="options[2].value === selectedOption" class="alert alert-warning">
                <strong><i class="glyphicon glyphicon-alert"></i> {{ options[2].text }}</strong>
                <p>{{ options[2].message }}</p>
            </div>
            <div v-if="options[3].value === selectedOption" class="alert alert-danger">
                <strong><i class="glyphicon glyphicon-ban-circle"></i> {{ options[3].text }}</strong>
                <p>{{ options[3].message }}</p>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="modal fade" id="modal-add-time">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button data-dismiss="modal" class="close" type="button">&times;</button>
                            <h5 class="modal-title">{{ selectTime.title }}</h5>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                        <input placeholder="hh:mm:ss" type="time" v-model="selectTime.start" class="form-control"/>
                                    </div>
                                    <br/>
                                </div>
                                <div class="col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                        <input placeholder="hh:mm:ss" type="time" v-model="selectTime.end" class="form-control"/>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <span v-if="showError" class="help-block">
                                        <strong class="text-danger">* Se require que complete los campos.</strong>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" @click="updateTime(selectTime, $event)" class="btn btn-primary">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                showError: false,
                selectedOption: '',
                selectTime: { title: 'Agregar horario', start: '', end: '', parent: null, index: -1 },
                dataTimes: [
                    [],
                    [],
                    [],
                    [],
                    [],
                    [],
                    []
                ],
                days: [
                    { day:1, text: 'Lunes', checked: false, },
                    { day:2, text: 'Martes', checked: false, },
                    { day:3, text: 'Miércoles', checked: false, },
                    { day:4, text: 'Jueves', checked: false, },
                    { day:5, text: 'Viernes', checked: false, },
                    { day:6, text: 'Sábado', checked: false, },
                    { day:7, text: 'Domingo', checked: false, },
                ]
            };
        },
        props: {
            options: {
                type: Array,
                required: true
            }
        },
        created() {
            this.$emit('initialize', this);
        },
        mounted() {
            jQuery('[data-toggle="tooltip"]').tooltip();
        },
        methods: {
            changeValue(e) {
                if(typeof(e)==='object') {
                    this.selectedOption = e.target.value;
                } else {
                    this.selectedOption = e;
                }
            },
            showModal(item, e) {
                this.selectTime = item;
                var t = e.target;
                $('#modal-add-time').modal('show');
            },
            clearTime(title){
                title = typeof(title) === 'string' ? title : 'Agregar horario';
                this.selectTime = { title: title, start: '', end: '', parent: null, index: -1 };
            },
            addTime(index, parent, e) {
                this.clearTime();
                var item = this.selectTime;
                item.parent = parent;
                item.parent.index = index;
                this.showModal(item, e);
            },
            editTime(index, item, e) {
                item.title = 'Editar horario';
                item.index = index;
                this.showModal(item, e);
            },
            updateTime(item, e) {
                if(item.start.trim()!=='' && item.end.trim()!=='') {
                    this.showError = false;
                    this.$emit('save', item, this, e);
                    if(item.index!==-1) {
                        this.dataTimes[item.parent.index][item.index] = item;
                    } else {
                        item.index = this.dataTimes[item.parent.index].length;
                        this.dataTimes[item.parent.index].push(item);
                    }
                    $('#modal-add-time').modal('hide');
                } else {
                    this.showError = true;
                }
            },
            destroyTime(index, time, e) {
                this.$emit('remove', time, index, this, e);
                this.dataTimes[time.parent.index].splice(index, 1);
            }
        }
    }
</script>