* {
    margin: 0px;
    padding: 0px;
}
body {
    background: $bg-color;
}
ol, ul {
    list-style: none;
}
@each $item in (h1, h2, h3, h4, h5, h6) {
    #{$item} {
        margin-top: $base-padding;
        margin-bottom: $base-padding;
    }
}