extends ../includes/template
block main
    section#wrapper.wrapper
        .wrapper__content
            .container
                schedule-restaurant(v-bind:options="options" v-on:initialize="load" v-on:save="saveTime" v-on:remove="removeTime")