$primary-color: #29B34B;
$secondary-color: #222222;
$text-primary-color: $secondary-color;
$text-secondary-color: #ffffff;
$bg-color: #f3f3f3;

$base-padding: 15px;
$xs: 320px;
$sm: 450px;
$md: 765px;
$lg: 1290px;

$h-navigation: 50px;
$h-control: 25px;

$size-checkbox: 20px;
$size-radio: 20px;

